@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

html,
body {
  margin: 0px;
  height: 100%;
  background-color: #17172e;
}

.logo {
  cursor: pointer;
}
.container {
  display: flex;
}

.container_main {
  background-color: #17172e;
  height: calc(100vh - 95px);
  display: flex;
  align-items: center;
  margin: auto;
}

.container_topo {
  background-color: #17172e;
  color: white;
  display: flex;
  height: 95px;
}

.container_search {
  background-color: #17172e;
  display: flex;
  justify-content: center;
  height: 40px;
}

.input_search {
  color: #000000;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 19%);
  border: 0;
  border-radius: 10px 0 0px 10px;
  width: 200px;
  padding-left: 10px;
  width: 260px;
}

.button_search {
  border: 0;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.button_search:active {
  background-color: white;
}

.input_search:focus {
  outline: none;
}

.player_info {
  display: flex;
  padding: 15px 0 0 15px;
}

.profile_img_container {
  height: 100px;
  width: 100px;
  order: 1;
}

.player_bagulho {
  order: 2;
  font-size: 36px;
  font-weight: 600;
  color: white;
  margin-left: 15px;
}

.profile_img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.icon_border {
  position: relative;
  border: 2px solid #17172e;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 3pt 2pt #2b2b72; */
  box-shadow: 0 0 3pt 2pt #414165;
  overflow: hidden;
}

.level_header {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #414165;
  background-color: #06061f;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

.container_content {
  display: flex;
  height: calc(100vh - 36px);
}

.container_teste {
  width: 500px;
  background-color: #17172e;
  height: 500px;
  align-self: center;
  display: block;
  margin: auto;
}

.region_selector {
  width: 90px;
  /* overflow: hidden; */
  border-radius: 10px 0 0px 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.region_dropdown {
  position: absolute;
  top: 100%;
  z-index: 2;
}

.matches_teste {
  color: white;
}

.team_1 {
  width: 50%;
}

.team_2 {
  width: 50%;
}

.match_container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  background-color: #11112a;
  border: 10px solid #11112a;
  border-radius: 3px;
  height: 100px;
  width: 600px;
}

.teams_container {
  display: flex;
}

.teams_overall {
  display: block;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.player {
  display: flex;
}

.player_name {
  cursor: pointer;
  order: 2;
  margin-bottom: 3px;
  font-size: 10px;
  font-weight: 500;
  color: #cddcfe;
  cursor: pointer;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.champion_icon_img {
  width: 16px;
  height: 16px;
  order: 1;
}

.items_container {
  display: block;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.item_container {
  width: 27px;
  height: 27px;
  background-color: #383864;
  margin-left: 1px;
  border-radius: 3px;
}

.trinket {
  width: 27px;
  height: 27px;
  background-color: #383864;
  margin-left: 1px;
  border-radius: 3px;
  margin-top: 13.5px;
}

.item_teste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  justify-content: space-between;
}

.item_icon_img {
  width: 100%;
  height: 100%;
}

.item_overall {
  display: flex;
  margin-right: 10px;

}

.kda_container {
  display: block;
  margin: auto;
  margin-left: 0;
  margin-right: 10px;
}

.kda {
  margin-bottom: 1px;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
}

.slash {
  color: #5f5f7b;
}

.kda_ratio {
  margin-bottom: 1px;
  font-size: 13px;
  line-height: 17px;
}

.cs {
  margin-bottom: 1px;
  font-size: 13px;
  line-height: 17px;
}
