html,
body {
  margin: 0px;
  height: 100%;
}

.container_main {
  background-color: #5383e8;
  height: calc(100vh - 21px);
}

.container_topo {
  background-color: #5383e8;
  display: flex;
}

.container_search {
  background-color: #5383e8;
  display: flex;
  justify-content: center;
  padding-top: 441px;
  height: 40px;
}

.input_search {
  color: #000000;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 19%);
  border: 0;
  border-radius: 10px 0 0px 10px;
  width: 200px;
  padding-left: 10px;
  width: 260px;
}

.button_search {
  border: 0;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.button_search:active {
  background-color: white;
}

.input_search:focus {
  outline: none;
}
